html{
    background-color: #fff;
    color: #434343;
    font-family: lato, arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
}


.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 250%;
}

.the-front {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: absolute;
    right: 50%;
    top: 0%;
}

.btn {
    background-color: #ad750e;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300px;
    border-radius: 200px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
}

.btn-full:link,
.btn-full:visited{
    border: 1px solid #ad750e;
}

.btn-ghost:link,
.btn-ghost:visited{
    background-color: transparent;
    border: 1px solid #ad750e;
    color: #ad750e;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #895d0c;
    background-color: #895d0c;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #895d0c;
    background-color: #895d0c;
    color: white;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}